
.div-3 {
    background-image: url("../../assets/persons-linguerie.jpg");
    background-size: cover;
    left: 0%;
    // top: 25%;
    opacity: 1;
    height: 30%;
    width: 100%;
    position: relative;
    
    .div-row {
        padding-top: 7%;
        min-height: 350px;
    }
    .text-banner{
        font-size: 2.1em;
        color: $color-1;
    }
    .display-1{
        color: $color-2;
        font-size: 2.4em;
    }
    .btn {
        background-color: $color-1;
        border-color: $color-1;
        color: $color-3;
        &:hover{
            color: $color-1;
            border-color: $color-1;
            background-color: $color-3;    
        }
    }
}

